header{
   width: 100%;
   background-color: #efefef;
   .inner{
      width: 1180px;
      height: 120px;
      margin: 0 auto;
      position: relative;
      h1{
         position: absolute;
         left: 80px;
         bottom: 75px;
         a{
            position: absolute;
            font: bold 30px/1 arial;
            color: #000;
            border-bottom: 1px solid #000;
            margin-top: 10px;
         }
      }
      .menuWeb{
         #gnb{
            position: absolute;
            top: 50px;
            right: 5px;
            li{
               position: relative;
               float: left;
               margin-right: 20px;
               a{
                  display: block;
                  padding: 14px 20px;
                  font: 15px/1 arial;
                  color: #555;
                  transition: 0.5s;
                  &::before{
                     content: '';
                     display: block;
                     width: 1px;
                     height: 1px;
                     border-radius: 50%;
                     background-color: #777;
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     transform: translateX(-50%);
                     opacity: 0;
                     transition: 0.5s;
                     margin-top: 10px;
                  }
                  &::after{
                     content: '';
						   display: block;
						   width: 0%;
						   height: 1px;
						   background-color: #555;
						   position: absolute;
						   left: 50%;
						   bottom: 0;
						   transition: 0.5s;
                  }
                  &:hover{
                     color: #000;
                     &::before{
                        width: 10px;
                        height: 10px;
                        top: -30px;
                        opacity: 1;
                     }
                     &::after{
                        width: 100%;
                        left: 0%;
                     }
                  }
               }
            }
         }
      }
   }
}