#main{
   width: 100%;
   height: 100vh;
   overflow: hidden;

   video{
       width: 100%;
       height: 100%;
       //height: 186px;
       object-fit: cover;
   }
   .inner{
       width: 1180px;
       margin: 0 auto;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       h2{
           font: bold 80px/1 "Nanum Myeongjo";
           color: #fff;
           margin-bottom: 20px;
           text-align: center;
       }
       p{
           font: ormal 15px/1 "arial";
           color: #fff;
           margin-bottom: 20px;
           padding-bottom: 40px;
           line-height: 23px;
       }
       .btnOpen{
           font: normal 13px/1 arial;
           color: #fff;
           border: 1px solid #fff;
           //background-color: #fff;
           padding: 10px 40px;
           border-radius: 50px;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           margin-top: 150px;
           &:hover{
               background-color: #fff;
               color: #000;
               border: 1px solid #fff;
               transition: 1s;
           }
       }
   }
}
.boxes{
   width: 60vw;
   height: 60vh;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none; 
   .top{
       width: 0%;
       height: 1px;
       background-color: #fff;
       position: absolute;
       top: 0;
       left: 0;
   }
   .right{
       width: 1px;
       height: 0%;
       background-color: #fff;
       position: absolute;
       top: 0;
       right: 0;
   }
   .bottom{
       width: 0%;
       height: 1px;
       background-color: #fff;
       position: absolute;
       bottom: 0;
       right: 0;
   }
   .left{
       width: 1px;
       height: 0%;
       background-color: #fff;
       position: absolute;
       bottom: 0;
       left: 0;
   }
   .inner{
       width: 100%;
       height: 100%;
       background-color: rgb(0, 0, 0, 0.05);
       backdrop-filter: blur(15px);
       position: absolute;
       top: 0; 
       left: 0;
       opacity: 0;
       padding: 50px;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
       .pics{
           width: 30%;
           object-fit: cover;
       }
       .content{
           width: 65%;

           h2{
               font: 5vw/1 arial;
               color: #bbb;
               margin-bottom: 20px;
           }
           p{
               font: 16px/1.3 arial;
               color: #fff;
           }
           .btnClose{
               position: absolute;
               top: 40px;
               right: 40px;
           }
       }
   }
}

@media screen and (max-width:1199px){
   #main{
       .inner{
           width: 100%;
           h2{
               font: bold 10vw/1 "Nanum Myeongjo";
           }
           .btnOpen{
               top: 80%;
           }
       }
   }
   .boxes{
   .inner{
       width: 100%;
       .pics{
           width: 0%;
       }
       .content{
           width: 100%;
           margin-top: 50px;
           h2{
               font: 5vw/1 arial;
               margin-bottom: 20px;
           }
           p{
               font: 14px/1.3 arial;
           }
           .btnClose{
               position: absolute;
               top: 40px;
               right: 40px;
           }
         }
      }
   }
}

// 2 brand---------------------------------------------------
#brand{
   width: 100%;
   padding: 200px 0;

   .inner{
       width: 1400px;
       margin: 0 auto;
       position: relative;
       h1{
           font: bold 30px/1 "Nanum Myeongjo";
           text-align: center;
           border-top: 1px solid #000;
           padding: 20px 0px;
       }
       .wrap{
           width: 100%; overflow: hidden;
           height: 100%;
           margin-top: 50px;
           .panel{
               width: calc(25% * 6);
               margin-left: -25%;
               &::after{
                   content: ''; display: block; clear: both;
               }
               article{
                   width: calc(100% / 6);
                   height: 430px;
                   padding: 10px; 
                   float: left;
                   img{
                       width: 100%; height: 100%; 
                       display: flex; justify-content: center; align-items: center;
                       &:hover{
                           opacity: 85%;
                       }
                   }
               }
           }
       }
       .prevs{
           position: absolute; top: 50%; left: -100px; margin-top: -20px;

           
       }
       .nexts{
           position: absolute; top: 50%; right: -100px; margin-top: -20px;

       }
   }
   .natus{
       position: absolute;
       font: bold 200px/1 arial;
       background: linear-gradient(#093028,#237A57);
       color: transparent;
       -webkit-background-clip: text;
       margin-top: 20px;
       left: -10px;
   }
}

@media screen and (max-width:460px){
   #brand{
       width: 100%;
       .inner{
           width: 100%;
           .wrap{
               width: 450%;
               height: 100%;
               margin-left: 20px;
               .panel{
                   article{
                   width: calc(100% / 6);
                   height: 70vw;
                   padding: 10px 150px 10px 60px; 
                   float: left;
                       img{
                           width: 100%; height: 100%; 
                           display: flex; justify-content: center; align-items: center;
                       }
                   }
               }
           }
           .prevs{
               left: 10px; 
           }
           .nexts{
                right: 10px; 
   
           }
       }
       .natus{
           font: bold 20vw/1 arial;
           margin-top: 20px;
           left: -10px;
       }
   }
}



@media screen and (max-width:310px){
   #brand{
       width: 100%;
       .inner{
           width: 100%;
           .wrap{
               width: 450%;
               height: 100%;
               margin-left: 20px;
               .panel{
                   article{
                   width: calc(100% / 6);
                   height: 70vw;
                   // padding: 10px 270px 10px 60px; 
                   float: left;
                   padding: 10px 100px 10px 30px; 
                   img{
                       width: 100%; height: 100%; 
                       display: flex; justify-content: center; align-items: center;
                   }
                   }
               }
           }
           .prevs{
               left: -5px; 
               
           }
           .nexts{
                right: -5px; 
   
           }
       }
       .natus{
           font: bold 20vw/1 arial;
           margin-top: 20px;
           left: -10px;
       }
   }
}

// 3 slider---------------------------------------------------
$size : 400px;
$deg : 50deg;

figure {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    #slider {
        width: $size;
        height: $size;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: calc(-1 * $size / 2.5);
        margin-left: calc(-1 * $size / 2);

        ul {
            width: 100%;
            height: 100%;
            position: relative;

            //li 의 공통스타일
            li {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.9;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 99999px;
                transition: 1s;

                h2 {
                    //opacity: 0;
                    font: normal 20px/1 "arial";
                    color: #000;
                    position: absolute;
                    top: 120%;
                    left: 50%;
                    transform: translateX(-50%);
                    letter-spacing: 2px;
                    transition: 1.5s;
                    margin-top: -60px;
                }

                .inner {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-repeat: inherit;
                    //자식요소가 부모의 요소를 상속 받는다는 의미
                    background-size: inherit;
                    background-position: inherit;
                    img{
                        width: 300px;
                        height: 400px;
                        object-fit: cover;
                        border-radius: 10%;
                        margin-left: 50px;
                    }

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: inherit;
                        background-repeat: inherit;
                        border-radius: 50%;
                        transition: 1.5s;
                    }

                    //그림자효과를 before로 넣은것
                    &::before {
                        top: 10%;
                        left: 2%;
                        filter: blur(20px);
                        opacity: 0.7;
                    }
                }

                a {
                    display: block;
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    bottom: 0%;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 20px;
                    opacity: 0;
                    transition: opacity 1s, bottom 1s, width 0.5s 1s;

                    &::before,
                    span {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        font: bolder 11px/1 "anton";
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        letter-spacing: 2px;
                        color: #000;
                        border-radius: 20px;
                        background-image: inherit;
                    }

                    span {
                        opacity: 0;
                        text-indent: -40px; //글자 들여쓰기(-니까 내여쓰기)
                        transition: 0.5s 1.0s;
                        //1.4초의 딜레이, 0.5초의 듀레이션
                        border: 1px solid #000;
                        &:hover{
                            background-color: #444;
                            color: #fff;
                            transition: 0.5s;
                        }
                    }

                    //버튼의 그림자 효과를 before로 넣은것
                    &::before {
                        transform: translateY(30%);
                        filter: blur(10px) saturate(2);
                        opacity: 0.8;
                    }
                }
            }

            //li의 개별 스타일
            li {
                &:nth-of-type(1) {
                    transform: translateX(-$size * 3) scale(0.9);

                    //.inner::after - 실제 그림이 보이는 것
                    //.inner::before그림자효과를 지니고 있는 개체
                    .inner::after,
                    .inner::before {
                        transform: rotate(-$deg * 3);
                    }
                }

                &:nth-of-type(2) {
                    transform: translateX(-$size * 2) scale(0.9);

                    .inner::after,
                    .inner::before {
                        transform: rotate(-$deg * 2);
                    }
                }

                &:nth-of-type(3) {
                    transform: translateX(-$size * 1) scale(0.9);

                    .inner::after,
                    .inner::before {
                        transform: rotate(-$deg * 1);
                    }
                }

                //활성화 된 패널
                &:nth-of-type(4) {
                    opacity: 1;
                    transform: translateX(0px) scale(1);

                    h2 {
                        font-size: 5vw;
                        opacity: 0.8;
                        color: #fff;
                        text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
                        top: -10vh;
                        letter-spacing: 0px;
                        text-align: center;
                    }

                    .inner::before,
                    .inner::after {
                        transform: rotate($deg * 0);
                    }

                    a {

                        opacity: 1;
                        bottom: -18%;
                        width: 200px;

                        span {
                            opacity: 1;
                            text-indent: 0px;
                        }

                        &.off {
                            // opacity: 0;
                            // z-index: -9;
                            display: none;
                        }
                    }
                }

                &:nth-of-type(5) {
                    transform: translateX($size * 1) scale(0.9);

                    .inner::after,
                    .inner::before {
                        transform: rotate($deg * 1);
                    }
                }

                &:nth-of-type(6) {
                    transform: translateX($size * 2) scale(0.9);

                    .inner::after,
                    .inner::before {
                        transform: rotate($deg * 2);
                    }
                }

                &:nth-of-type(7) {
                    transform: translateX($size * 3) scale(0.9);

                    .inner::after,
                    .inner::before {
                        transform: rotate($deg * 3);
                    }
                }

            }
        }
    }

    .btns {
        position: absolute;
        bottom: 13vh;
        right: 10vw;
        display: flex;
        gap: 50px;
        transition: 0.5s;

        .prev,
        .next{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 1px solid #bbb;
            cursor: pointer;
            position: relative;

            &::before,
            &::after{
                content: '';
                display: block;
                width: 17px;
                height: 2px;
                background-color: #bbb;
                position: absolute;
            }

            &::before{
                top: 49%;
                transform: rotate(45deg) translateX(0px);
            }

            &::after{
                bottom: 49%;
                transform: rotate(-45deg) translateX(0px);
            }

            span{
                width: 20px;
                height: 2px;
                background-color: #bbb;
                position: absolute;
                top: 49%;
                opacity: 1;
            }
        }

        .prev{
            &::before,
            &::after{
                left: 25px;
                transform-origin: left center;
            }

            span{
                left: 25px;
            }
        }

        .next{
            &::before,
            &::after{
                right: 25px;
                transform-origin: right center;
            }

            span{
                right: 25px;
            }
        }
    }

    .pop {
        width: 50vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: -50vw;
        background-color: rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(10px);
        padding: 22vh 5vw 10vh 6vw;
        transition: 0.5s;

        h2 {
            font: 6vw/1 "arial";
            color: #fff;
            margin-bottom: 40px;
            opacity: 0;
            transform: translateX(-100px);
            transition: 1s 0.3s;
        }

        p {
            font: 22px/1.2 "arial";
            color: #ccc;
            letter-spacing: 1px;
            margin-bottom: 50px;
            opacity: 0;
            transform: translateX(-100px);
            transition: 0.5s 0.8s;
        }

        .close {

            width: 200px;
            height: 40px;
            border: 2px solid #fff;
            font: bold 14px/1 "arial";
            color: #fff;
            cursor: pointer;
            transition: 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;

            &:hover {
                background-color: #fff;
                color: #777;
            }

        }

        &.on {
            left: 0;

            h2,
            p,
            .close {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }
}


@media screen and (max-width:1199px) {
    figure {
        #slider {
            top: 40%;
            ul {
                li {
                    //활성화 된 패널
                    &:nth-of-type(4) {
                        transform: translateX(0px) scale(1);
    
                        h2 {
                            font-size: 13vw;
                            // text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
                            top: -8vh;
                        }
                        a {
                            bottom: -25%;
                            width: 40%;
                        }
                    }
                }
            }
        }
    
        .btns {
            width: 100%;
            bottom: 6vh;
            left: -5px;
            justify-content: center;
            top: 80%;
        }

    }
}

// 4 banner---------------------------------------------------
#banner{
    width: 100%;
    height: 40vh;
    transition: 1.0s;
    position: relative;
    overflow: hidden;

    .panel{
        position: relative;
        width: 1180px;
        height: 40vh;
        margin: 0 auto;
        transition: 1.0s;
        
        li{
            position: absolute;
            width: 170%;
            height: 100%;
            float: left;
            margin-left: -400px;
            opacity: 0;
            z-index: 1;
            transition: opacity 1s;
            
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;

            h2{
                font: bold 150px/1 arial;
                color: #fff;
                text-shadow: 3px 3px 20px #000;
                opacity: 80%;
                position: absolute;
                margin-left: 170px;
                margin-top: 100px;
            }
            &.on{
                opacity: 80%;
                z-index: 2;
            }

            // .banner:nth-of-type(1) {
            //     background: url('/img/banner.jpg'); 
            //   }
            // .banner:nth-of-type(2) {
            //     background: url('/img/banner2.jpg');
            //   }
            // .banner:nth-of-type(3) {
            //     background: url('/img/banner3.jpg');
            //   }
        }
    }
}

@media screen and (max-width:1580px){
    #banner{
        .panel{
            width: 100%;   
            li{
                width: 100%;
                margin-left: -10px;
                h2{
                    font: bold 25vw/1 arial;
                    margin-left: 30px;
                }
            }
        }
    }
}

// 4 layout---------------------------------------------------
#layout{
    width: 100%;
    padding: 150px 0;

    .inner{
        width: 1210px;
        margin: 0 auto;
        position: relative;

        h1{
            font: bold 30px/1 "Nanum Myeongjo";
            text-align: left;
            border-bottom: 1px solid #000;
            padding: 20px 0px;
        }
        .lay{
            width: 100%;

            article{
                width: 280px;
                float: left;
                margin-right: 30px;

                &:last-child{
                    margin-right: 0px;
                }
                .pic1{
                    width: 100%;
                    height: 200px;
                    overflow: hidden;
                    margin-top: 40px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                    }
                    a{
                        text-align: center;
                        font-size: 4vw;
                        color: #fff;
                        position: absolute;
                        margin-top: 60px;
                        margin-left: -180px;
                        opacity: 0;
                        }
                        &:hover{
                            img{
                                opacity: 70%;
                            }
                            a{
                                opacity: 1;
                                transition: 0.5s;
                            }
                        }
                }
                h2{
                    font: normal 25px/1 arial;
                    margin-top: 15px;
                    border-bottom: 1px solid #000;
                    padding: 5px;
                }
                p{
                    font: normal 13px/1 arial;
                    color: #555;
                    margin-top: 10px;
                    text-align: end;
                }
            }
        }
    }
}

@media screen and (max-width:1199px){
    #layout {
		padding: 100px 30px 450px;
		.inner {
			width: 100%;
			.lay {
				article {
					width: 49%;
					margin-right: 2%;
					margin-top: -15px;
					&:nth-of-type(2n) {
						margin-right: 0;
					}
					.pic1 {
						height: 20vmax;
                        a{
                            font-size: 8vw;
                            margin-left: -30%;
                        }
					}
                    h2{
                        font: normal 150%/1 arial;
                    }
				}
			}
		}
	}

}

@media screen and (max-width:310px){
    #layout {
		padding: 100px 30px 450px;
		.inner {
			width: 100%;
			.lay {
				article {
					width: 49%;
					margin-right: 2%;
					margin-top: -15px;
					&:nth-of-type(2n) {
						margin-right: 0;
					}
					.pic1 {
						height: 20vmax;
                        a{
                            font-size: 5vw;
                        }
					}
                    h2{
                        font: normal 100%/1 arial;
                    }
				}
			}
		}
	}

}
	





